**.gradle
/build/
**target/**
!gradle/wrapper/gradle-wrapper.jar
ui/
.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.git
*.class
.idea/**
.gradle/**
**out
# Mobile Tools for Java (J2ME)
.mtj.tmp/

#Build Envs
.vagrant

target
**target